@import "../../../styles/mixins.scss";
@import "../../../styles/theme.scss";

.education {
  height: 100dvh;
  padding: 2rem 5rem;

  .title {
    align-items: start;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    .line {
      background-color: $primary;
      height: 0.4rem;
      margin-bottom: 0.6rem;
      width: 12.5rem;
    }

    h2 {
      font-size: 1.875rem;
      font-weight: 700;
    }
  }

  .timeline {
    height: calc(100% - 7.8125rem);

    .diploma-icon {
      position: absolute;
      bottom: 0px;
    }
  }

  @include sm {
    padding: 1rem;

    .title {
      padding-bottom: 2rem;

      .icon-container {
        margin-right: 1rem;

        .title-icon {
          height: 1.875rem;
        }
      }

      h2 {
        font-size: 1.375rem;
      }
    }

    .timeline {
      height: calc(100% - 5.0625rem);

      .diploma-icon {
        bottom: 0px;
        height: 8.75rem;
        position: absolute;
        width: 8.75rem;
      }
    }
  }
}
